/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #EF7700;
  --color: #0A0A0A;
  --color2: #333;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--color);
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}




/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-section__inner {
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  margin-left: -32px;
  width: 249px;
}

.header-right {

}
.main-menu {

}
.main-menu ul {
  display: flex;
  align-items: center;
  gap: 42px;
}
.main-menu ul li {

}
.main-menu ul li a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
}
.main-menu ul li a:hover {
  color: var(--theme__color1);
}
/* header-end */


/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  padding: 170px 0 0;
  margin-bottom: 224px;
  background: url('images/hero-bg.png') no-repeat center center/cover;
}
.hero-section__inner {

}

.hero-content {
  color: #fff;
}
.hero-content .h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 120%;
}
.hero-content p {
  font-size: 24px;
  line-height: 1.8;
  color: #E0E0E0;
  line-height: 150%; /* 36px */
  letter-spacing: 0.192px;
}
.hero-content .bottom-button {
  margin-top: 10px;
}


.hero-wbx {
  margin-top: 85px;
  padding: 40px 0 36px 40px;
  margin-bottom: -224px;
  border-radius: 12px;
  background: var(--neutral-10, #FFF);
  box-shadow: 4px 8px 24px 0px rgba(0, 0, 0, 0.10);
}
.wbx-nav {
  border-bottom: 1px solid #E0E0E0;
  margin-right: 40px;
  margin-bottom: 38px;
}
.wbx-nav ul {
  display: flex;
  gap: 6px;
}
.wbx-nav ul li {

}
.wbx-nav ul li a {
  gap: 10px;
  padding: 0px 10px 7px;
  display: flex;
  border-bottom: 4px solid transparent;
  transition: 0.3s;
  opacity: 0.7;
}
.wbx-nav ul li a.active,
.wbx-nav ul li a:hover {
  border-bottom-color: var(--theme__color1);
  opacity: 1;
}

.wbx-rw1 {
  gap: 45px;
  display: flex;
}
.wbx-rw-content {
  width: 325px;
  flex-shrink: 0;
}
.wbx-rw-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.571%;
  letter-spacing: -0.588px;
}
.wbx-rw-content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.wbx-slider-outer {
  width: 0;
  flex-grow: 1;
}
.wbx-slider {

}
.wbx-slider .owl-nav {
  padding: 25px 30px 0 0;
  justify-content: flex-end;
}
.wbx-slide {
  width: 280px;
}
.wbx-card {

}
.wbx-card__image {
  border-radius: 6px;
}
.wbx-card__image .img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.wbx-card__body {
  padding: 8px 0 0;
}
.wbx-card__body h4 {
  font-size: 20px;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.34px;
}
.wbx-card__options {
  display: flex;
  align-items: center;
  gap: 11px;
}
.wbx-card__option {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.176px;
}
.wbx-card__option .icon {
  width: 24px;
}
.wbx-card__option .icon img {

}
.wbx-card__option .text {

}

.slider-arrow-1 .owl-nav {
  display: flex;
  gap: 12px;
}
.slider-arrow-1 .owl-nav button {
  height: 32px;
  width: 32px;
  font-size: 15px !important;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.185);
  background: #fff !important;
  color: #757575 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.slider-arrow-1 .owl-nav button:hover {
  background: var(--theme__color1) !important;
  color: #fff !important;
}
/* ---hero-section---end */


/* ---common--- */
.h2 {
  color: #333;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 60px */
  text-transform: capitalize;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
/* ---common---end */



/* ---cl-section--- */
.cl-section {
  padding: 120px 0;
}
.cl-section__inner {

}

.cl-row {
  --bs-gutter-x: 115px;
}

.cl-content {

}
.cl-content .h2 {
  margin-bottom: 40px;
}

.cl-c-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.cl-c-item {
  border-radius: 12px;
  transition: 0.3s;
}
.cl-c-item.a-active {
  background: #FFF;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.10);
}
.cl-c-item__title {
  padding: 8px 24px;

  gap: 15px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.cl-c-item__title:not(.collapsed) {
  padding: 32px 24px 20px;


}
.cl-c-item__title .icon {
  width: 36px;
}
.cl-c-item__title .icon svg [stroke="#0A0A0A"] {
  transition: 0.3s;
}
.a-active .cl-c-item__title .icon svg [stroke="#0A0A0A"] {
  stroke: var(--theme__color1);
  transition: 0.3s;
}
.cl-c-item__title h3 {
  color: #333;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.588px;
}
.cl-c-item__body {

}
.cl-c-item__body__inner {
	padding: 0px 60px 30px 77px;
}
.cl-c-item__body__inner p {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
/* ---cl-section---end */